@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, serif;
}

body {
  overflow: hidden;
}
img {
  user-select: none;
}

.BACKGROUND {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.BUTTON-PRIMARY-ENABLED {
  box-shadow: 0 1px 2.5px rgba(0, 122, 255, 24%), 0 0 0 0.5px rgba(0, 122, 255, 12%);
}

.BUTTON-PRIMARY-DISABLED {
  box-shadow: 0 1px 2.5px rgba(0, 122, 255, 24%), 0 0 0 0.5px rgba(0, 122, 255, 12%);
}

.BUTTON-SECONDARY-ENABLED {
  box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 30%), 0 0 0 0.5px rgba(0, 0, 0, 5%);
}
.BUTTON-SECONDARY-DISABLED {
  box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 15%), 0 0 0 0.5px rgba(0, 0, 0, 3%);
}

.BUTTON-DESTRUCTIVE {
  box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 30%), 0 0 0 0.5px rgba(0, 0, 0, 5%);
}

.TEXT-FIELD {
  box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 30%), 0 0 0 0.5px rgba(0, 0, 0, 5%);

  &:focus {
    box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 30%), 0 0 0 0.5px rgba(0, 0, 0, 5%),
      0 0 0 3px rgba(0, 122, 255, 50%);
  }
  &::selection {
    background-color: rgba(0, 122, 255, 30%);
  }
}

.PROGRESS-BAR {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 2%), inset 0 0 2px rgba(0, 0, 0, 3%),
    inset 0 0 2px rgba(0, 0, 0, 4%);
}

.CHECKBOX {
  border: inset 1px rgba(0, 0, 0, 15%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 10%), 0 0 2px rgba(0, 0, 0, 10%);

  &.CHECKED {
    box-shadow: 0 1px 2.5px rgba(0, 122, 255, 24%), 0 0 0 0.5px rgba(0, 122, 255, 12%);
    border: none;
  }
}

.DOCK-BACKGROUND {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 16%);
  border: inset 1px solid rgb(26, 26, 26, 46);
}

.DOCK-APPLICATION-OPENED {
  animation: DockApplicationOpen 0.5s;
}
.DOCK-APPLICATION > img {
  transition: transform 0.25s;
}
.DOCK-APPLICATION:hover > img {
  transform: translateY(-12.5%) scale(1.3);
}

@keyframes DockApplicationOpen {
  0% {
    transform: translateY(0) scaleY(1);
  }

  50% {
    transform: translateY(-10px) scaleY(1.05);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

.DOT {
  mix-blend-mode: darken;
}

.MENU-BAR-ITEM {
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 10%), 0 0 1px rgba(0, 0, 0, 40%), 0 7px 22px rgba(0, 0, 0, 25%);
}
