@tailwind base;
@tailwind components;
@tailwind utilities;
* {
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.BACKGROUND {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}